@import "../../themes/default.less";
@import "../../mixins/index.less";

@inner-size: 60px;

.@{prefix}-calendar {
  &-header {
    .flex-center;
    gap: @spacing-h-xl;
    padding: @spacing-v-lg 0;

    &-title {
      font-size: @font-size-lg;
      font-weight: @font-weight-bold;
      color: @text-color;
    }
  }

  &-main {
    &-header,
    &-body {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      row-gap: @spacing-v-md;
    }

    &-header {
      margin-bottom: @spacing-v-md;

      .@{prefix}-calendar-main-cell {
        color: @text-color-placeholder;
      }
    }

    &-cell {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: @spacing-v-xs;
      min-width: 0;

      &-gray,
      &-disabled {
        color: @text-color-placeholder;
      }

      &-selected {
        position: relative;

        .@{prefix}-calendar-main-cell-inner {
          color: @color-primary;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 50%;
          height: @inner-size;
          background-color: rgba(color(@color-primary), 0.1);
          z-index: -1;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }

        &-start,
        &-end {
          .@{prefix}-calendar-main-cell-inner {
            color: @white;
            background-color: @background-color-primary;
          }
        }

        &-start::before {
          content: none;
        }

        &-end::after {
          content: none;
        }
      }

      &-inner {
        .flex-center;
        width: @inner-size;
        height: @inner-size;
        border-radius: 50%;
      }

      &-custom {
        .flex-center;
      }
    }
  }
}
