@import "../../themes/default.less";
@import "../../mixins/index.less";

.@{prefix}-picker {
}

.@{prefix}-picker-header {
  .flex-between-center;
  height: 96px;
  background-color: @white;
  border-bottom: 1px solid @border-color;

  &-title {
    flex: 1;
    font-size: @font-size-lg;
    color: @text-color-major;
    text-align: center;
    .text-ellipsis;
  }

  &-btn {
    font-size: @font-size-lg;
    flex-shrink: 0;
  }
}

.@{prefix}-picker-panel {
  width: 100vw;
  height: 600px;
  background-color: @white;

  &-column {
    &-item {
      .flex-center;
    }
  }
}
