@import "../../themes/default.less";

.@{prefix}-transition {
  transition-timing-function: ease;
}

.@{prefix}-fade-enter-active,
.@{prefix}-fade-leave-active {
  transition-property: opacity;
}

.@{prefix}-fade-enter,
.@{prefix}-fade-leave-to {
  opacity: 0;
}

.@{prefix}-fade-up-enter-active,
.@{prefix}-fade-up-leave-active,
.@{prefix}-fade-down-enter-active,
.@{prefix}-fade-down-leave-active,
.@{prefix}-fade-left-enter-active,
.@{prefix}-fade-left-leave-active,
.@{prefix}-fade-right-enter-active,
.@{prefix}-fade-right-leave-active {
  transition-property: opacity, transform;
}

.@{prefix}-fade-up-enter,
.@{prefix}-fade-up-leave-to {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}

.@{prefix}-fade-down-enter,
.@{prefix}-fade-down-leave-to {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}

.@{prefix}-fade-left-enter,
.@{prefix}-fade-left-leave-to {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.@{prefix}-fade-right-enter,
.@{prefix}-fade-right-leave-to {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.@{prefix}-slide-top-enter-active,
.@{prefix}-slide-top-leave-active,
.@{prefix}-slide-bottom-enter-active,
.@{prefix}-slide-bottom-leave-active,
.@{prefix}-slide-left-enter-active,
.@{prefix}-slide-left-leave-active,
.@{prefix}-slide-right-enter-active,
.@{prefix}-slide-right-leave-active {
  transition-property: transform;
}

.@{prefix}-slide-top-enter,
.@{prefix}-slide-top-leave-to {
  transform: translate(-50%, -100%);
}

.@{prefix}-slide-bottom-enter,
.@{prefix}-slide-bottom-leave-to {
  transform: translate(-50%, 100%);
}

.@{prefix}-slide-left-enter,
.@{prefix}-slide-left-leave-to {
  transform: translate(-100%, -50%);
}

.@{prefix}-slide-right-enter,
.@{prefix}-slide-right-leave-to {
  transform: translate(100%, -50%);
}
